# Virtual Environment
venv/
.env

# Python Cache
__pycache__/
*.pyc

# Logs and Data
*.log
*.pcm
*.wav

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Docker
docker-compose.override.yml
*.tar

# Frontend
frontend/node_modules/
frontend/dist/
frontend_dist/
